@import 'styles/colors.scss';
@import 'styles/_silent_classes.scss';
@import 'styles/mixins.scss';

.header {
	width: 100%;
	height: 60px;
	background-color: $headerColor;

	:first-child {
		border: none;
	}
}

.authenticated {
	justify-content: space-between;
	padding: 0 20px;
}

.login {
	justify-content: center;
}

.tabsHeader {
	@include mobile {
		display: none;
	};
}

.headerLogoItem {
	font-size: 24px;
	font-weight: 600;
	color: $headerTextColor;
}

.hardAuthorize {
	height: 19px;
	cursor: pointer;
	align-self: center;
	padding: 8px 15px 5px 15px;
	border-radius: 5px;
	margin-left: 20px;
	background-color: #FFFFFF;
}

.headerItem {
	border-left: 1px solid #38A46B;
	width: 130px;
	color: $headerTextColor;
	text-decoration: none;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 12px;
	position: relative;
	@extend .toUpperCase;

	&:hover {
		color: #F1F8E9;
		cursor: pointer;
	}

	&:focus {
		color: $white;
		text-decoration: none;
		outline: none;
	}

	&_active:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		height: 5px;
		background-color: $white;
		opacity: 0.5;
	}
}

.logoIcon {
	fill: $headerTextColor;
	width: 30px;
	height: 30px;
}

.localeIcon {
	fill: $headerTextColor;
	width: 15px;
	margin-right: 10px;
}

.username {
	font-size: 15px;
	color: $white;
	margin-right: 10px;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.toggle {
	display: flex;
	height: 60px;
	width: 60px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #1E2426;

	&_img {
		display: flex;
		position: relative;
		width: 20px;
		height: 20px;
		flex-direction: column;
		justify-content: space-between;

		& span {
			position: relative;
			transition: transform 0.1s, width 0.2s;
			width: 100%;
			height: 2px;
			background-color: #4A5B61;
		}
	}

	&_active {
		& .toggle_img span {
			&:first-child {
				transform: translate(-10%, 180%) rotate(-45deg);
				width: 80%;
				top: 0;
			}

			&:not(:first-child):not(:last-child) {
				transform: translateY(-50%);
				top: 50%;
				position: absolute;
			}

			&:last-child {
				transform: translate(-10%, -180%) rotate(45deg);
				width: 80%;
				bottom: 0;
			}
		}
	}

	/* stylelint-ignore */
	@include mobile {
		display: none;
	};
	/* stylelint-ignore */
	@include tablet {
		display: none;
	};
}
