.wrapper {
  background-color: #68C083;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSideWrapper {
  display: flex;
  align-items: center;
}

.toggle {
  display: flex;
  height: 90px;
  width: 90px;
  align-items: center;
  justify-content: center;
  background-color: #1E2426;
  &_img {
    width: 23px;
  }
}

.brand {
  color: white;
  margin-left: 40px;
  &_text {
    font-size: 30px;
  }
  &_sup {
    font-size: 14px;
    line-height: 0;
    vertical-align: top;
    position: relative;
  }
}

.controls {
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 300px;
  width: 380px;
  justify-content: space-evenly;
}

.notifications {
  position: relative;
  &_img {
    width: 27px;
  }
  &_unred {
    width: 8px;
    height: 8px;
    border-radius: 40px;
    background-color: #ED6D69;
    border: 2px solid #d86157;
    position: absolute;
    top: -3px;
    right: 4px;
  }
}

.devider {
  width: 1px;
  height: 100%;
  background-color: #5fad77;
}

.user {
  color: #BAF5D0;
  font-size: 13px;
  &_menu {
    height: 10px;
    margin-left: 10px;
  }
}

.language {
  color: #BAF5D0;
  font-size: 15px;
}