
@import 'styles/colors.scss';

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  &--disabled {
    color: $gray600;
    cursor: not-allowed !important;
  }
}

.devider {
  width: 1px;
  height: auto;
  background-color: #f1f1f1;
  align-self: stretch;
  margin: 0 10px;
}

.img {
  width: 16px;
  padding: 8px;
}

.reactImg {
  padding: 8px 8px 6px 8px;
}