@import 'styles/colors.scss';

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}

.control {
	line-height: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 43px;
	width: 60px;
	text-align: center;
	word-break: break-word;
	padding: 2px 4px;
	font-size: 12px;
	cursor: pointer;

	&--disabled {
		color: $gray600;
		cursor: not-allowed !important;
	}

	&:not(:last-child) {
		border-right: 1px solid #ECECEC;
	}
}

.img {
	width: 20px;
}
