.wrapper {
	display: flex;
	min-height: 0px;
	flex: 1;
	flex-direction: column;
}

.container {
	background-color: #F7FAFD;
	display: flex;
	min-height: 0px;
	flex: 1;
}

.images {
	width: 100%;
	display: flex;
}
