.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.byttonContainer {
  height: 85px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding-left: 25px;
}

.createBuildButton {
  font-size: 13px;
  font-weight: bold;
  padding: 16px;
  background-color: #74B0EA;
  width: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 34px;
  border: 1px solid #6EA1DE;
  box-shadow: 0px 2px 0px 0px #679cdb;
  &:hover {
    cursor: pointer;
    background-color: #7fb6ec;
  }
}

.container {
  background-color: #F7FAFD;
  display: flex;
  flex: 1;
}

.images {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-wrap: wrap;
  align-content: baseline;
  flex-flow: column wrap;
  overflow-x: scroll;
}

.descriptionBar {
  width: 286px;
  background-color: white;
  border-left: 1px solid #f1f1f1;
}

.image {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: self-start;
  min-width: 260px;

  background-color: white;
  border: 1px solid #f0f3f5;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  color: #4a4c5d;
  box-shadow: 0px 0px 3px 2px rgba(241,244,249,0.6);
  
  &_header {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #f1f1f1;
    &_img {
      height: 45px;
    }
    &_text {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      &_title {
        font-size: 14px;
        font-weight: bold;
      }
      &_date {
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }
  &_note {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    max-height: 150px;
    overflow: hidden;
  }
}

.viewTabs {
  display: flex;
  margin-left: 50px;
}

.viewTab {
  position: relative;
  &_img {
    padding: 20px;
    height: 15px;
  }
  &_active::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #73b0ea;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 4px;

  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  &_button {
    width: 110px;
    background-color: #73b0ea;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2px;
    color: white;
    &_img {
      height: 13px;
    }
    &_text {
      font-size: 13px;
    }
  }
  &_devider {
    width: 1px;
    height: auto;
    background-color: #f1f1f1;
    align-self: stretch;
    margin: 0 10px;
  }
  &_img {
    width: 20px;
    padding: 8px;
  }
}

.myMasonryGrid {
  display: flex;
}
.myMasonryGridColumn {
}