@import 'styles/mixins.scss';
@import 'styles/colors.scss';

.wrapper {
	background-color: #181C1F;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	transition: all 0.15s ease-in-out;

	@include mobile {
		min-width: auto;
		width: auto;
	}
	@include tablet {
		min-width: auto;
		width: auto;
	}
}

.navigation {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: all 0.25s ease-in-out;
	overflow: hidden;
	white-space: nowrap;
	position: sticky;
	top: 0;

	&_el {
		color: #4E5C62;
		display: inline-flex;
		height: 40px;
		align-items: center;
		position: relative;
		padding: 10px 25px;
		border-bottom: 1px solid #252B31;
		cursor: pointer;
		text-decoration: none;

		&__active {
			color: $activeNavBarItem;
		}

		&_img {
			width: 30px;
			height: 25px;
			position: absolute;
		}

		&_text {
			font-size: 14px;
			margin-left: 55px;
			color: inherit;
		}
	}

	@include tablet {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	};
}

.collapsed {
	max-width: 80px;
	
	@include mobile {
		min-width: auto;
		width: auto;
		max-width: none;
	}
	@include tablet {
		max-width: none;
		min-width: auto;
		width: auto;
	}
}
