.wrapper {
  background-color: #181C1F;
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  transition: all 0.25s ease-in-out;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  &_el {
    color: #4E5C62;
    display: inline-flex;
    height: 40px;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 17px 29px;
    border-bottom: 1px solid #252b31;
    cursor: pointer;
    &__active {
      color: #68BF84;
    }
    &_img {
      width: 22px;
    }
    &_text {
      font-size: 14px;
      margin-left: 30px;
    }
  }
}

.collapsed {
  min-width: 80px;
  width: 80px;
}