/* red */
$customRed: #DC4F64;
$red100: #FFCDD2;
$red700: #D32F2F;
$red600: #E53935;

/* blue */
$blue50: #E3F2FD;
$blue100: #BBDEFB;
$blue200: #90CAF9;
$blue700: #303F9F;
$blue800: #0277BD;
$blueCreateImageSelect: #5C9ED1;
$blueCreateImageSelectedItem: #D9ECFB;

/* cyan */
$cyan100: #B2EBF2;
$checkbox: #DAECFB;

/* gray */
$gray50:  #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray600: #757575;
$navBarItem: #4E5C62;
$regauthBorder: #EEF2F8;
$regauthOption: #56585D;
$checkboxDisabled: #BEC9D0;


/* white */
$white: #FFFFFF;

/* orange */
$orange600: #FB8C00;
$orange900: #E65100;

/* amber */
$amber100: #FFECB3;
$amber300: #FFD54F;
$amber600: #FFB300;

/* black */
$black: #000000;

/* green */
$activeNavBarItem: #68BF84;
$green200: #A5D6A7;
$headerColor: #67BF83;
$green600: #43A047;
$green800: #2E7D32;
$checkboxActive: #68C67F;
