/* red */
$customRed: #DC4F64;

/* blue */
$blue50: #E3F2FD;
$blue100: #BBDEFB;

/* gray */
$gray50: #FAFAFA;
$gray200: #EEEEEE;
$gray400: #BDBDBD;
$gray600: #757575;
$navBarItem: #4E5C62;

/* black */
$black: #000000;

/* green */
$activeNavBarItem: #68BF84;