/* red */
$customRed: #DC4F64;
$red100: #FFCDD2;
$red700: #D32F2F;
$red600: #E53935;

/* blue */
$blue50: #E3F2FD;
$blue100: #BBDEFB;
$blue200: #90CAF9;
$blue700: #303F9F;
$blue800: #0277BD;
$blueImageCreationSelect: #5C9ED1;
$blueImageCreationSelectedItem: #D9ECFB;
$labelDep: #5CD1D0;
$stepInProcess: #5B9FD2;

/* cyan */
$cyan100: #B2EBF2;
$checkbox: #DAECFB;

/* gray */
$gray50:  #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;
$gray600: #757575;
$navBarItem: #4E5C62;
$paginationTextColor: #717D8B;
$regauthBorder: #EEF2F8;
$regauthOption: #56585D;
$checkboxDisabled: #BEC9D0;
$stepInactive: #C9CCD2;
$creatingStepInactive: #E7EAED;
$regAuthFormBorder: #EEF1F8;
$regAuthBackground: #F8FAFC;
$imageCreationBackground: #F8FAFC;
$createImageBackground: #F8FAFC;
$buildOptionsBackground: #3B4D65;
$activeImagesTabColor: #303D4F;
$imagesTabBorder: #41536A;

/* white */
$white: #FFFFFF;

/* orange */
$orange600: #FB8C00;
$orange900: #E65100;

/* amber */
$amber100: #FFECB3;
$amber300: #FFD54F;
$amber600: #FFB300;

/* black */
$black: #000000;

/* green */
$activeNavBarItem: #68BF84;
$green200: #A5D6A7;
$headerColor: #1FAE70;
$headerTextColor: #D7FFEA;
$green600: #43A047;
$green800: #2E7D32;
$checkboxActive: #68C67F;
$stepCompleted: $checkboxActive;
$initializationCompleted: #8FE8BA;
$initializationCompletedDarker: #68C67F;
