@import 'styles/colors.scss';

.headerWrapper {
	padding: 40px 0px 20px 40px;
	border-top: 1px solid $gray400;
	border-bottom: 1px solid $gray400;
}

.headerStepInfo {
	font-size: 11px;
	color: #839297;
}