@import 'styles/colors.scss';

.headerWrapper {
    padding: 40px 0px 20px 40px;
    border-top: 1px solid $gray400;
    border-bottom: 1px solid $gray400;
}

.headerStepInfo {
    font-size: 11px;
    color: #839297;
}

.buttonPrev {
    background: #C8F3F5;
    color: $gray600;
    border: none;
    box-shadow: none;
    &:hover{
        background: $blue200;
    }
}

.skipSteps {
    @extend .headerStepInfo;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: underline;
    &:hover{
        color: $gray600;
    }
}

.buttonNext {
    @extend .buttonPrev;
    background: #C9F3D7;
    &:hover{
        background: $green200;
    }
}