@import 'styles/colors.scss';
@import 'styles/_silent_classes.scss';

$icon-padding: 8px;

.container {
	width: 440px;
	padding-bottom: 25px;
	border: 1px solid $regAuthFormBorder;
	box-sizing: border-box;
	background-color: white;
	border-radius: 5px;
	margin: 70px 0;
}

.cusdebIcon {
	padding-bottom: 16px;
	width: 35px;
	height: 35px;
}

.header {
	border-bottom: 1px solid $regauthBorder;
	padding: 25px 0px;
	width: 100%;
}

.resetPwdContainer {
	color: #626A7F !important;
	text-decoration: none !important;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.validationError {
	font-size: 14px;
	margin: 16px 0 8px 0;
	color: $red600;
}

.iconsBlock {
	width: 100%;
	height: 88px;
	margin: 0px !important;
	border-bottom: 1px solid $regauthBorder;
}

.icon {
	border: 1px solid #CACED4;
	border-radius: 50px;
	padding: $icon-padding;
	box-sizing: border-box;
	cursor: pointer;

	&_github {
		padding: $icon-padding;
	}
}

.dontHaveAccount {
	font-size: 12px;
	font-family: Fira Sans, sans-serif;
	color: #404758;
	letter-spacing: normal;
	line-height: 18px;
	font-weight: normal;
}

.resetPwdWrapper {
	width: 100%;
	height: 48px;
	font-size: 12px;
	border-bottom: 1px solid $regauthBorder;
	cursor: pointer;
}

.wrapper{
	padding: 20px;
	width: 100%;
	height: 100%;
	justify-content: center;
	background-color: $regAuthBackground;
	box-sizing: border-box;
}

.orUseEmail {
	position: relative;
	transform: translateY(-50%);
	padding: 10px 40px;
	color: $regauthOption;
	font-size: 12px;
	top: -1px;
	background-color: $white;
}

.loginButton {
	width: calc(100% - 50px);
	height: 60px;
	justify-content: center;
	align-items: center;
	border: 1px solid #E3E7EC;
	font-size: 11px;
	border-radius: 4px;
	background-color: $green600;
	color: $white;
	line-height: 18px;
	@extend .toUpperCase;
	font-family: 'Fira Sans', sans-serif;
	cursor: pointer;

	&_disabled {
		background-color: $gray300;
		color: #626A7F;
	}
}

.submitButtonContainer {
	border-top: 1px solid $gray300;
	padding-top: 20px;
	width: 100%;
}
