@import 'styles/colors.scss';
@import 'styles/_silent_classes.scss';

.header {
	width: 100%;
	height: 60px;
	background-color: $headerColor;
	justify-content: center;

	:first-child {
		border: none;
	}
}

.headerLogoItem {
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	color: $white;
}

.headerLogoItemSubLogo {
	align-self: baseline;
	font-size: 11px;
	color: $white;
}

.headerItem {
	border-left: 1px solid #38A46B;
	width: 130px;
	color: $white;
	text-decoration: none;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 12px;
	position: relative;
	@extend .toUpperCase;

	&:hover {
		color: #F1F8E9;
		cursor: pointer;
	}

	&:focus {
		color: $white;
		text-decoration: none;
		outline: none;
	}

	&_active:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		height: 5px;
		background-color: $white;
		opacity: 0.5;
	}
}

.suppliesIcon {
	width: 40px;
}
