@import 'styles/colors.scss';

.inputWrapper {
	position: relative;
	display: flex;
	width: inherit;
	border-radius: 5px;
	align-items: center;
}

.input {
	font-family: 'Fira Sans', sans-serif;
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
	height: inherit;
	padding: 14px 21px 14px 49px;
	border: 1px solid #F2F5FA;
	border-radius: 5px;
}

.inputIcon {
	position: absolute;
	margin-left: 17px;
	max-height: 17px;
}

.clearAll {
	position: absolute;
	margin-right: 5px;
	right: 0;
	cursor: pointer;
}
