.wrapper {
  height: 85px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  padding-left: 25px;
}

.button {
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  background-color: #74B0EA;
  width: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
  border: 1px solid #6EA1DE;
  box-shadow: 0px 2px 0px 0px #679cdb;
  &:hover {
    cursor: pointer;
    background-color: #7fb6ec;
  }
}