@import 'styles/_silent_classes.scss';
@import 'styles/colors.scss';

.wrapper {
	justify-content: space-between;
	display: flex;
	height: 50px;
	align-items: center;
	padding: 0 25px;
	font-size: 12px;
	border-bottom: 1px solid $gray100;
	position: sticky;
	top: 0;
	cursor: pointer;
	background-color: white;

	& span {
		@extend .toUpperCase;
	}

	& span:last-child {
		font-weight: bold;
	}
}

.img {
	fill: grey;
	height: 11px;
	width: 11px;
}

.children {
	div {
		display: flex;
		align-items: center;
		height: 50px;
		padding: 0 25px;
		font-size: 12px;
		border-bottom: 1px solid $gray100;

		&:nth-child(2n+1) {
			background-color: $gray50;
		}
	}
}
