@import 'styles/mixins.scss';
@import 'styles/_silent_classes.scss';
@import 'styles/colors.scss';

.wrapper {
	width: 30%;
	background-color: white;
	border-left: 1px solid $gray100;
	color: #4A4C5D;
	height: calc(100vh - 70px);
	position: sticky;
	top: 70px;

	&_inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	@include mobile {
		display: none;
	}

	@include tablet {
		height: calc(100vh - 70px);
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	border-bottom: 1px solid $gray100;

	&_img {
		width: 23px;
		margin-bottom: 10px;
	}

	&_distro {
		@extend .toUpperCase;
		font-size: 11px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	&_createdAt {
		font-size: 11px;

		&_date {
			font-weight: bold;
			margin-left: 5px;
		}
	}
}

.subheader {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px;
	background-color: $gray50;
	border-bottom: 1px solid $gray100;

	&_img {
		height: 27px;
		margin-right: 11px;
	}

	&_deviceName {
		font-size: 11px;
		color: #626478;
	}
}

.notes {
	font-size: 11px;
	line-height: 1.8;
	padding: 15px;
	color: #87889D;
	border-bottom: 1px solid $gray100;
}

.tabs {
	display: flex;
	line-height: 50px;
	font-size: 12px;
	border-bottom: 1px solid $gray100;
	cursor: pointer;
	flex-shrink: 0;

	&_tab {
		flex: 1;
		text-align: center;
		@extend .toUpperCase;

		&__active {
			background-color: #F4F8FB;
		}
	}
}

.dropDownWrapper {
	height: 100%;
	width: 100%;
}
