@import 'styles/colors.scss';
@import 'styles/_silent_classes.scss';

.container {
	width: 440px;
	padding-bottom: 25px;
	border: 1px solid $gray300;
	box-sizing: border-box;
}

.cusdebIcon {
	padding-bottom: 30px;
	width: 40px;
	height: 40px;
}

.header {
	border-bottom: 1px solid $gray300;
	padding: 25px 0px;
	width: 100%;
}

.registrationNavlink {
	color: #626A7F !important;
	text-decoration: none !important;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	@extend .toUpperCase;
}

.registrationAlreadyHaveAccount {
	font-size: 12px;
	font-family: Fira Sans, sans-serif;
	color: #404758;
	letter-spacing: normal;
	line-height: 18px;
	font-weight: normal;
}

.backToRegistration {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid $gray300;
	cursor: pointer;
}

.wrapper{
	padding: 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	justify-content: center;
}

.submitButton {
	width: 360px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border: 1px solid #E3E7EC;
	font-size: 11px;
	color: #626A7F;
	line-height: 18px;
	@extend .toUpperCase;
	font-family: 'Fira Sans', sans-serif;
	cursor: pointer;

	&_disabled {
		background-color: $gray300;
	}
}

.submitButtonContainer {
	border-top: 1px solid $gray300;
	padding-top: 20px;
	width: 100%;
}
