@import 'styles/mixins.scss';

.page {
  display: flex;
  flex-direction: column;
  @include mobile {
    height: auto;
  }
  height: 100vh;
}

.wrapper {
  display: flex;
  flex: 1;
  @include mobile {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }
}