.label {
	cursor: pointer;
	width: 20px;
	padding: 9px;
	height: 14px;

	&_input {
		margin: 0;
		opacity: 0;
		position: absolute;
		height: 0;
		width: 0;
		top: 0;
		left: 0;
	}

	&_img {
		max-height: 100%;
	}
}
