@import 'styles/colors.scss';

.headerWrapper {
	padding: 20px 0 10px 45px;
	position: sticky;
	top: 60px;
	z-index: 180;
	background-color: white;
	border-bottom: 1px solid $gray300;
}

.headerStepInfo {
	font-size: 12px;
	margin-top: 12px;
	color: #839297;
}

.skipSteps {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: underline;
	color: #888888;
}

.stepTitle {
	font-size: 20px;
}

.headerButtonsWrapper {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.buttonPrev {
	background: #BEF4F6;
	margin-right: 4px;
}

.buttonNext {
	background: #BEF4D5;
}

.moveButton {
	color: #565656;
	font-size: 11px;
	border: none;
	box-shadow: none;
	outline: none;
	font-weight: 300;
	padding: 16px 10px 15px 10px;
}
